appdirs==1.4.3
ifaddr==0.1.7
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyterlab==3.4.5
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==3.0.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mne==1.4.2
netifaces==0.11.0
numpy==1.23.2
pandas==2.0.0
protobuf==3.19.4
pylsl==1.15.0
PyQt5== 5.15.9
PySide6==6.5.1.1
pyvista==0.40.0
pyvistaqt==0.11.0
pyxdf==1.16.3
six==1.14.0
zeroconf==0.38.4
six==1.14.0
typing==3.7.4
zeroconf==0.38.4
ruff==0.0.238
black==22.10.0
